APP_ENV=testing

# Package configuration
NOTIFIER_BACKUP_CODE=
NOTIFIER_URL=
NOTIFIER_BACKUP_PASSWORD=
NOTIFIER_LOGGING_CHANNEL=single

# Performance
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
